.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.input {
    padding: 5px 15px 6px 15px;
    border-radius: 5px;
    border:1px solid #ededed
}
.btn {
    padding: 5px 15px 6px 15px;
    border-radius: 5px;
    border: 1px solid #ededed
}
#inputName {
    transition: all 0.3s ease-in-out
}
#inputName.error {
    border: 1px solid red;
    transition: all 0.3s ease-in-out
}
#inputVacancy {
    transition: all 0.3s ease-in-out
}

#inputVacancy.error {
    border: 1px solid red;
    transition: all 0.3s ease-in-out
}
#inputPhone {
    transition: all 0.3s ease-in-out
}

#inputPhone.error {
    border: 1px solid red;
    transition: all 0.3s ease-in-out
}
.candidatesList > li {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 33px;
    font-weight: 600;
    padding: 5px 15px;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 5px;
    box-shadow: 0px 5px 14px -10px #000000;
}
.candidatesList > li.active {
    height: fit-content;
    
}
.candidatesList > li > ul {
    height: 0;
}
.candidatesList > li.active>ul {
    height: auto;
    transition: all 0.5s ease-in-out;
    background: white;
    padding: 15px;
    margin: 15px 0;
}
.candidatesList>li.active>ul>li:first-child {
    padding-top: 7px;
    border-top: 1px solid #cecece;
}
.candidatesList>li>ul>li:first-child .btnEdit,
.candidatesList>li>ul>li:first-child .btnDelete  {
    top: 5px;
}
.candidatesList > li > ul > li {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 7px;
    border-bottom: 1px solid #cecece;
    padding-bottom: 7px;
    color: #000;
}
.candidatesList>li>ul>li:last-child {
    margin-bottom: 0;
    border-bottom: initial;
    padding-bottom: 0;
}
.countCandidates {
    position: absolute;
    right: 15px;
    top: 5px;
}
.btnDelete {
    position: absolute;
    right: 10px;
    top: 0px;
}
.searchPopup {
    display: flex;
    flex-direction: column;
    padding: 25px;
    position: absolute;
    width: 600px;
    height: 500px;
    margin: 0 auto;
    top: 30vh;
    left: 0;
    right: 0;
    background: white;
    border-radius: 2px;
    z-index: -1;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}
.searchPopup.active {
    z-index: 10;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}
.searchPopupModal {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 8;
    background: rgba(0, 0, 0, 0.7);
}
.searchPopupModalEdit {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 11;
    background: rgba(0, 0, 0, 0.7);
}
.searchPopupModalEdit.active {
    display: block;
}
.searchPopupModal.active {
    display: block;
}
.btnCloseModal {
    position: absolute;
    right: 15px;
    padding: 10px;
    top: 15px;
    display: flex;   
}
.btnEdit {
    position: absolute;
    right: 35px;
    top: 0;
}
#modalEdit {
    position: fixed;
    top: 30vh;
    margin: 0 auto;
    width: fit-content;
    height: auto;
    left:0;
    right: 0;
    opacity: 0;
    z-index: -1;
}
#modalEdit.active {
    opacity: 1;
    z-index: 21;
}
.btn-edit {
    background: #143049;
    color: white;
}
#searchCandidatesList { 
    height: 100%;
    max-height: 286px;
    overflow: auto;
}
#searchCandidatesList li {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 7px;
    border-bottom: 1px solid #cecece;
    padding-bottom: 7px;
}
#searchCandidatesList li:last-child {
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 0;
}
#searchCandidatesListResult {
    margin-bottom: 35px;
    padding: 5px;
    width: 100%;
    border: 1px solid #cecece;
    border-radius: 5px;   
}
#searchCandidatesList li div {
    margin-bottom: 5px;
}
#showAllCandidates {
    margin-top: 30px;
}
@media(max-width: 768px) {
    .searchPopup {
        width: 90%;
    }
}

